
.site-side-nav {
  background: #0091ea ;
}
.site-side-nav2 {
  background: #26a69a ;
}
.nav-header {
  background: #0091ea;
  padding: 45px;
}
.nav-header .currency {
  position: absolute;
  padding-top: 65px;
  padding-left: 50px;
  color: #fff;
}
.nav-header .profile {
  padding-top: 15px;
  width: 80px;
  height: 80px;
  color: #00c2ff;
}
.nav-header2 {
  background: #26a69a;
  padding: 45px;
}
.nav-header2 .currency {
  position: absolute;
  padding-top: 65px;
  padding-left: 50px;
  color: #fff;
}
.nav-header2 .profile {
  padding-top: 15px;
  width: 80px;
  height: 80px;
  color: #00c2ff;
}
.nav-header2 .profile2 {
  padding-top: 15px;
  width: 80px;
  height: 80px;
  color: #00bfa5;
}
.icon-pos {
  position: relative;
  padding: 12px;
  color: #fff;
}
body {
  font-family: MyriadArabic-Regular;
}
/*md-input-focused {
  color:#fff;
}*/
#landing_top {
  background: url('../jimg/bg1_2.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#landing_top_dark {
  background: url('../jimg/bg1_dark.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#landing_blue {
  background: #05c2fd no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}
#benefits {
  background: #a8e4d3;
  padding: 50px 10px 50px 10px;
  background: url('../jimg/bg5.jpg');
  background-size: cover;
  color: #fff;
}
.logo-img {
  width: 240px;
}
.nav-text {
  padding-top: 30px;
  text-transform: uppercase;
  font-size: 30px;
  margin: 10px;
}
.footer-text {
  padding: 30px;
  text-transform: uppercase;
  font-size: 19px;
  margin: 10px;
}
.md-list-item-text {
  font-size: 20px;
  color: #888;
}
.md-avatar {
  height: 19px !important;
}
.transparent {
  background-color: transparent !important;
}
md-divider {
  border-color: #fff;
  opacity: 0.4;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.btn1 {
  color: #0271F5;
  background-color: #fff;
  border-radius: 30px 30px 30px 30px;
  padding: 12px 75px 12px 75px;
  font-size: 20px;
  letter-spacing: 1px;
}
.btn1:not([disabled]):hover {
  background-color: #0271F5;
  color: white;
}

.btn2 {
  color: #fff;
  background-color: transparent;
  border-radius: 50px 50px 50px 50px;
  border: solid 2px;
  padding: 7px 80px 7px 80px;
  font-size: 20px;
  letter-spacing: 1px;
}
.btn2:not([disabled]):hover {
  background-color: #fff;
  color: #0271F5;
  border-color: #fff;
}
.btn3 {
  color: #fff;
  background-color: transparent;
  border-radius: 30px 30px 30px 30px;
  border: solid 2px;
  padding: 4px 70px 4px 70px;
  font-size: 20px;
  letter-spacing: 1px;
}
.btn3:not([disabled]):hover {
  background-color: #fff;
  color: #0271F5;
  border-color: #fff;
}
.btn-land1 {
  color: #fff;
  background-color: #02D6C2;
  border-radius: 30px 0px 0px 30px;
  margin: 0px !important;
  padding: 1px 20px 1px 20px;
  font-size: 21px;
  border: solid 1px;
  border-color: #02D6C2;
  font-weight: bold;
}
.btn-land1:not([disabled]):hover {
  background-color: #02D6C2;
}
.btn-land2 {
  color: #fff;
  background-color: transparent;
  border-radius: 0px 30px 30px 0px;
  margin: 0px !important;
  border: solid 1px;
  border-left: solid 0px;
  padding: 1px 25px 1px 25px;
  font-size: 21px;
}
.btn-land2:not([disabled]):hover {
  background-color: #fff;
  color: #02D6C2;
  border-color: #fff;
}
.btn-land2b {
  color: #828282;
  background-color: transparent;
  border-radius: 0px 30px 30px 0px;
  margin: 0px !important;
  border: solid 1px;
  border-left: solid 0px;
  padding: 1px 25px 1px 25px;
  font-size: 21px;
}
.btn-land2b:not([disabled]):hover {
  background-color: #fff;
  color: #02D6C2;
  border-color: #02D6C2;
}
.btn-land3b {
  color: #fff;
  background-color: #02D6C2;
  border-radius: 30px 30px 30px 30px;
  padding: 1px 30px  1px 30px;
  font-size: 21px;
  margin: 30px !important;
  border: solid 1px;
  border-color: #02D6C2;
  font-weight: bold;
}
.btn-land3b:not([disabled]):hover {
  background-color: #fff;
  color: #02D6C2;
  border-color: #02D6C2;
}
.btn-land3 {
  color: #fff;
  background-color: #02D6C2;
  border-radius: 30px 30px 30px 30px;
  padding: 1px 30px  1px 30px;
  font-size: 21px;
  margin: 30px !important;
  border: solid 1px;
  border-color: #02D6C2;
  font-weight: bold;
}
.btn-land3:not([disabled]):hover {
  background-color: #fff;
  color: #02D6C2;
  border-color: #fff;
}
.btn-land3c {
  color: #0271F5;
  background-color: #fff;
  border-radius: 30px 30px 30px 30px;
  padding: 1px 30px  1px 30px;
  font-size: 21px;
  margin: 30px !important;
  border: solid 1px;
  border-color: #fff;
  font-weight: bold;
}
.btn-land3c:not([disabled]):hover {
  background-color: #0271F5;
  color: #fff;
  border-color: #0271F5;
}
.toolbar-white {
  background-color: #fff;
  color: #000;
}
.toolbar-white .profile {
  width: 60px;
  height: 60px;
  color: #00c2ff;
}
.toolbar-white .profile2 {
  width: 60px;
  height: 60px;
  color: #00bfa5;
}
.name {
  font-size: 23px;
  text-decoration: bold;
  padding-top: 5px;
}
.card_number {
  font-size: 18px;
  text-decoration: bold;
}
.description {
  font-size: 15px;
  text-decoration: bold;
}
.landing-header {
  font-size: 46px;
  letter-spacing: 1px;
  font-family: color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.landing-header-small {
  font-size: 25px;
  font-family: color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.landing-icon {
  width: 80px;
  padding: 5px;
}
.landing-icon-xs {
  width: 60px;
  padding: 5px;
}
.landing-toolbar-icon {
  width: 250px;
  padding: 15px;
  margin-left: -44px;
}
.landing-icon-font {
  font-size: 28px;
  color: #888;
  font-family: "MyriadArabic-Regular";
}
.landing-icon-font1 {
  font-size: 27px;
  color: #fff;
  /*#05C2FD;*/
  font-weight: bold;
  /*text-shadow: 1px 1px 1px rgba(5,194,253, 0.3);*/
  text-shadow: 1px 1px 1px rgba(0,0,0, 0.3);
 line-height: 24px;
}
.landing-icon-font2 {
  font-size: 27px;
  color: #fff;
  /*#02D6C2;*/
  font-weight: bold;
  /*text-shadow: 1px 1px 1px rgba(2,214,194, 0.3);*/
  text-shadow: 1px 1px 1px rgba(0,0,0, 0.3);
 line-height: 24px;
}
.landing-icon-font3 {
  font-size: 27px;
  color: #fff;
  /*#04E407;*/
  font-weight: bold;
  /*text-shadow: 1px 1px 1px rgba(4,228,7, 0.3);*/
  text-shadow: 1px 1px 1px rgba(0,0,0, 0.3);
 line-height: 24px;
}
.landing-icon-font1b {
  font-size: 23px;
  color: #fff;
  /*#05C2FD;*/
  font-weight: bold;
  /*text-shadow: 1px 1px 1px rgba(5,194,253, 0.3);*/
  text-shadow: 1px 1px 1px rgba(0,0,0, 0.3);
 line-height: 24px;
}
.landing-icon-font2b {
  font-size: 23px;
  color: #fff;
  /*#02D6C2;*/
  font-weight: bold;
  /*text-shadow: 1px 1px 1px rgba(2,214,194, 0.3);*/
  text-shadow: 1px 1px 1px rgba(0,0,0, 0.3);
 line-height: 24px;
}
.landing-icon-font3b {
  font-size: 23px;
  color: #fff;
  /*#04E407;*/
  font-weight: bold;
  /*text-shadow: 1px 1px 1px rgba(4,228,7, 0.3);*/
  text-shadow: 1px 1px 1px rgba(0,0,0, 0.3);
 line-height: 24px;
}
/*.landing-icon-font1 {
  font-size: 18px;
  color: #05C2FD;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.landing-icon-font2 {
  font-size: 18px;
  color: #02D6C2;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.landing-icon-font3 {
  font-size: 18px;
  color: #04E407;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}*/
.section-padding {
  padding: 50px ;
}
.section-icon {
  width: 120px;
  padding: 10px;
}
.section-background-image {
  background: url('../jimg/img_photo_i.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.section-background-image2 {
  background: url('../jimg/pattern_gray.gif') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.section-background-image3 {
  background: url('../jimg/map_i.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.section-background-image4 {
  background: url('../jimg/pattern_blue.gif') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.section-background-image5 {
  background: url('../jimg/img_footerbar.svg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.section-background-image6 {
  background: url('../jimg/icon_bridge_b.gif') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.section-background-image6c {
  background: url('../jimg/icon_bridge_b2.gif') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.section-background-image6b {
  background: url('../jimg/icon_bridge_b.gif') no-repeat center center;
  -webkit-background-size: small;
  -moz-background-size: small;
  -o-background-size: small;
  background-size: small;
}
.section-image {
  position: absolute;
  width: 300px;
  margin-top: -50px;
  margin-left: 40px;
}
.section-heading {
  font-size: 28px;
  color: #fff;
  font-weight: bold;
  font-family: "MyriadArabic-Regular";
}
.section-heading2 {
  font-size: 31px;
  color: #888;
  font-weight: bold;
  font-family: "MyriadArabic-Regular";
}
.section-paragraph {
  font-size: 23px;
  color: #fff;
}
.landing-section-heading {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
}
.landing-section-heading2 {
  font-size: 30px;
  font-weight: bold;
}
.landing-section-heading3 {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
}
.landing-section-font {
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  margin: 0px;
}
.landing-section-font2 {
  font-size: 25px;
  margin: 0px;
}
.landing-section-font3 {
  font-size: 20px;
  margin: 0px;
}
.landing-section-font4 {
  color: #02D6C2;
  font-size: 25px;
  margin: 0px;
}
.landing-section-font5 {
  color: #fff;
  font-size: 23px;
  margin: 0px;
}
.list-section-font {
  font-size: 23px;
  color: #fff;
  font-weight: bold;
  margin: 10px;
}
.num-icon {
  width: 30px;
  padding: 15px;
}
.or-text {
  width: 330px;
  padding: 15px;
}
.toolbar-style {
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  background: #ffffff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-bottom: solid 1px rgba(255, 255, 255, 0.8);
}

.toolbar-style-transparent {
  padding-top: 0px;
  position: fixed;
  background: transparent;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.toolbar-style1 {
  padding-top: 0px;
  position: fixed;
  background: #ffffff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-bottom: solid 1px rgba(255, 255, 255, 0.8);
}

.toolbar-style1-transparent {
  padding-top: 0px;
  position: fixed;
  background: transparent;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
/*#other > button.md-button:not([disabled]):hover {
  background-color: transparent;
}*/
.btm1:not([disabled]):hover {
  background-color: transparent;
}
/*.md-button:not([disabled]):hover {
  background-color: transparent;
}*/
.large-font {
  font-size: 30px;
  color: #fff;
}
.medium-font {
  font-size: 23px;
}
.large-font {
  font-size: 30px;
  color: #fff;
}
.medium-font {
  font-size: 23px;
}
body {
  font-family: MyriadArabic-Regular;
}
/*md-input-focused {
  color:#fff;
}*/
#ielanding_top {
  background: url('../jimg/bg1_2.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 620px;
  width: 100%;
  padding: -30px;
}
.ielanding-toolbar-icon {
  margin-top: 25px;
  width: 250px;
  padding: 15px;
}
.ielanding-header {
  font-size: 40px;
  font-family: color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  margin-top: -30px;
}
.ietextbox {
  color: #0271F5;
  background-color: #fff;
  padding: 12px 75px 12px 75px;
  font-size: 20px;
  letter-spacing: 2px;
}
.ielanding-icon-font1 {
  font-size: 23px;
  color: #05C2FD;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000;
}
.ielanding-icon-font2 {
  font-size: 23px;
  color: #02D6C2;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000;
}
.ielanding-icon-font3 {
  font-size: 23px;
  color: #04E407;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000;
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {
   color: white;
}

.name-icon {
  position: relative;
  right: 100px;
}

.mobile-lang {
  font-size: 10px;
  position: relative;
  top: -20px;
}
