<!DOCTYPE html>
<html>

<head>
    <title>Jando</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE" />
    <meta name="robots" content="noindex" />
    <link rel="shortcut icon" href="http://www.jando.com/jimg/icon.png" />
    <link rel='shortcut icon' href='http://www.jando.com/jimg/favicon.ico' type='image/x-icon' />
    <link type="text/css" rel="stylesheet" href="http://www.jando.com/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="http://www.jando.com/css/jando_main.css" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css' />
    <style>
    @font-face {
        font-family: clearSans;
        src: url('./fonts/ClearSans-Regular.ttf');
    }
    </style>
    <!--Clear Sans Font-->
</head>

<body>
 
            <!-- <div class="toolbar-style">
                <img src="jimg/logo-badly-cut.svg" alt="" data-pin-nopin="true" class="landing-toolbar-icon">
                <a ng-click="toGap()">
                    <p class="nav-text" style="cursor:pointer;" ng-style="headertextstyle" >Why Jando</p>
                </a>
                <a ng-click="toHow()">
                    <p class="nav-text" style="cursor:pointer;" ng-style="headertextstyle" >How it works</p>
                </a>
                <a ng-click="toWhere()">
                    <p class="nav-text" style="cursor:pointer;" ng-style="headertextstyle" >Find us</p>
                </a>
                <span flex></span>

                <md-button class="btn-land1">Individual</md-button>
                <a ng-href="http://business.jando.com/">

                </a>
                <a ng-href="https://demo.jando.com/customer-login">

                </a>

            </div>
            <divider inset></divider> -->

        <!--  -->
        <!-- Landing Top -->
        <!--  -->

        <div id="ielanding_top" style="min-height: 100vh;">

            <div flex>
                <center><img src="jimg/logo-badly-cut.svg" alt="" data-pin-nopin="true" class="ielanding-toolbar-icon"></center>

                <center>
                    <p class="ielanding-header" style="color:#fff">Payments. For Everyone</p>
                </center>
            </div>

            <div style="margin-top: 35px;">
                <div style="margin: 10px;">
                    <center><img src="jimg/svg/icon_line_i_1.svg" alt="" data-pin-nopin="true" class="landing-icon"></center>
                    <center><span class="ielanding-icon-font1">All you need is a mobile number</span></center>
                </div>

                <div style="margin: 10px;">
                    <center><img src="jimg/svg/icon_line_i_2.svg" alt="" data-pin-nopin="true" class="landing-icon"></center>
                    <center><span class="ielanding-icon-font2">Send money to friends and family</span></center>
                </div>

                <div style="margin: 10px;">
                    <center><img src="jimg/svg/icon_line_i_3.svg" alt="" data-pin-nopin="true" class="landing-icon"></center>
                    <center><span class="ielanding-icon-font3">Fund with cash and spend online</span></center>
                </div>
            </div>
            
            <center>
            <div style="margin-top: 35px">
                <!-- <md-button class="btn1"><b>Join Now</b></md-button> -->
                <p class="ietextbox"><b>For the best experience, please use the Chrome or Firefox family of browsers, <br>while we increasing our support for other browsers.</b></p>

            </div>
            </center>
            <span flex><br><br></span>
        </div>

</body>

</html>
